html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.form {
  width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid turquoise;
}

.input {
  display: block;
  margin: 0 auto;
  padding: 0 8px;
  font-size: 20px;
  margin-top: 14px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid green;
}

.button {
  font-size: 16px;
  padding: 0 6px;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
}
